<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Learn ANGULAR </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="isLoggedIn" [routerLink]="['/']">Home</a>
          </li>
        </ul>
        <form class="d-flex ml-auto">
          <button *ngIf="!isLoggedIn" class="btn btn-info " [routerLink]="['/connection']">Connecter</button>
          <button *ngIf="!isLoggedIn" class="btn btn-outline-info mx-3" [routerLink]="['/inscription']">Inscription</button>
          <button *ngIf="isLoggedIn" class="btn btn-outline-light mx-3" (click)="logout()">Deconnexion</button>
        </form>
      </div>
    </div>
  </nav>