<app-navbar></app-navbar>

<div class="container size">
  <h1 class="text-center">LogIn</h1>
  <form class="col-md-8 offset-md-2" [formGroup]="myForm" (ngSubmit)="logIn()">
        <div class="mb-3 form-row">
          <div class="form-group mt-3">
            <label for="email" class="form-label">Email address</label>
            <input class="form-control my-3" type="email" name="email" id="email" formControlName="email">
            <div *ngIf="email?.touched && email?.invalid">
              <small *ngIf="email?.errors?.required" class="text-danger">Email is required<br></small>
              <small *ngIf="email?.errors?.email" class="text-danger">Invalid Email<br></small>
          </div>
        </div>
        <div class="mb-3 form-group">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input class="form-control my-3" type="password" name="password" id="password" formControlName="password">
        <div *ngIf="password?.touched && password?.invalid">
          <small *ngIf="password?.errors?.required" class="text-danger">password is required<br></small>
          <small *ngIf="password?.errors?.minlength" class="text-danger">LastName must contain six characters at least<br></small>
        </div>
      </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col">
              <input type="submit" value="LogIn" [disabled]="myForm.invalid" class="btn btn-info">
          </div>
      </div>
      </form>
      <h6 class="text-info text-center" [routerLink]="['/inscription']">Create an account.</h6>
</div>